<header class="app-header">
  <section class="header-logo">
    <i class="fa fa-bug fa-3x" aria-hidden="true"></i>
    <h1> Glitter Gallery </h1>
  </section>
  <div class="btn-group gallery-view-selector">
    <button class="btn btn-default"
      ng-click="selectGalleryStyle({style: 'list'})">
      list</button>
    <button class="btn btn-default"
      ng-click="selectGalleryStyle({style: 'thumb'})">
      thumb</button>
    <button class="btn btn-default"
      ng-click="selectGalleryStyle({style: 'image'})">
      gallery</button>
  </div>
  <div class="header-padding"></div>
</header>
