.app-social-status {
    color: #000;
    .app-socal-status-icon {
      margin-right: -1px;
      margin-left: 4px;
    }

    p {
      display: inline;
      font-weight: bold;
      font-size: 0.9em;
      color: #fff;
    }

    .disabled {
      color: #777;
    }
}

.app-social-status-icon:hover {
  color: #ffa77a;; 
 
  .disabled {
    color: #777;
  }
}

.app-social-status-icon:active {
  color: #a77aff;
  .disabled {
    color: #777;
  }
}

