@import "_theme";

.app-social-status {
    color: $app-cdark;
    .app-socal-status-icon {
      margin-right: -1px;
      margin-left: 4px;
    }

    p {
      display: inline;
      font-weight: bold;
      font-size: 0.9em;
      color: $app-clight;
    }

    .disabled {
      color: $app-cdisabled;
    }
}

.app-social-status-icon:hover {
  color: $app-cfocus; 
 
  .disabled {
    color: $app-cdisabled;
  }
}

.app-social-status-icon:active {
  color: $app-cactive;

  .disabled {
    color: $app-cdisabled;
  }
}


