@import "_theme";

.app-thumb-item {
  position: relative;
  padding: 4px;

  img {
    border: 4px solid $app-cdark;
    box-shadow: 4px 4px $app-clight;
    border-radius: 10px 0px 10px 0px;
  }

  .app-social-status {
    margin-top: 2px;
    margin-left: 8px;
  }
}

.app-thumb-item:hover {
  img {
    border: 4px solid $app-clight;
    box-shadow: 4px 4px $app-cdark;
  }
}

