.app-thumb-item {
  position: relative;
  padding: 4px;

  img {
    border: 4px solid black;
    box-shadow: 4px 4px white;
    border-radius: 10px 0px 10px 0px;
  }

  .app-social-status {
    margin-top: 2px;
    margin-left: 8px;
  }
}

.app-thumb-item:hover {
  img {
    border: 4px solid white;
    box-shadow: 4px 4px black;
  }

  .app-social-status-icon {
    color: #fff;
  }

  .app-social-status-text {
    color: #000;
  }
  
  .disabled {
    color: #777;
  }
}

